{
    "db": {
        "host": "127.0.0.1",
        "dbname": "test2",
        "charset": "utf8",
        "username": "root",
        "password": ""
    },
    "migrations": [
        {
            "namespace": "Application\\Migration",
            "path":      "app/src/Application/Migration"
        }
    ]
}
